<!DOCTYPE html>
<html>
<head>
    <title>Restablecimiento de contraseña</title>
</head>
<body>
    <p>Hola {{ current_user }},</p>
    <p>Has solicitado un restablecimiento de contraseña para tu cuenta con el nombre de usuario {{ username }}.</p>
    <p>Haga clic en el siguiente vínculo para restablecer su contraseña:</p>
    <a href="https://hotel-angv2.vercel.app/resetpassword/{{token}}">https://hotel-angv2.vercel.app/{{token}}</a>
    <p>Si no solicitaste este restablecimiento, ignora este correo electrónico.</p>
    <p>Saludos,<br>Equipo Hotel</p>
</body>
</html>
